body {
background: #3b3000;
background: linear-gradient(360deg,rgba(59, 48, 0, 1) 0%, rgba(0, 0, 0, 1) 58%, rgba(0, 0, 0, 1) 100%);
}
.oppidum_title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 400px;
}
.about_game_O {
    color:azure;
    font-size: 40px;
        padding-left: 40px;
}
.AG_Stats {
     color:rgb(184, 184, 184);
    font-size: 30px;
    padding-left: 50px;
}
.AG_Stats_additional {
    color:rgb(255, 255, 255);
    font-size: 35px;
    padding-left: 40px;
}
.about_game_category {
    background-color: hsla(0, 0%, 0%, 0.5);
    height: 700px;
    width:400px;
    border-radius: 50px;
    border: 10px solid rgb(119, 102, 7)
}